<form class="form-signin" role="form">
  <h2 class="label-login">Login</h2>
  <input type="text" class="form-control" placeholder="Email" ng-model="email">
  <br>
  <input type="password" class="form-control" placeholder="Senha" ng-model="password">
  <br>
  <div class="col-sm-12 text-center">
    <button class="btn btn-success" type="button" style="margin: 5px" ng-click="logar()">
      <i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;Entrar
    </button>
    <a class="btn btn-primary" type="button" style="margin: 5px" href="#register">
      <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Registrar
    </a>
  </div>
  <div class="alert alert-danger alert-dismissible" ng-show="showMessagem">
    <strong>Ops!</strong>  {{error}}
  </div>
</form>