<form class="form-signin" role="form">
  <h2 class="label-login">Novo usuário</h2>
  <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" placeholder="Digite seu nome" ng-model="nome">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" placeholder="Digite seu email" ng-model="email">
  </div>
  <div class="form-group">
    <label>Senha</label>
    <input type="password" class="form-control" placeholder="Digite sua senha" ng-model="password">
  </div>
  <div class="col-sm-12 text-center">
    <button class="btn btn-success" type="button" style="margin: 5px" ng-click="registrar()">
      <i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;Salvar
    </button>
    <a class="btn btn-primary" type="button" style="margin: 5px" href="#">
      <i class="glyphicon glyphicon-arrow-left"></i>&nbsp;&nbsp;Voltar
    </a>
  </div>
  <div class="alert alert-danger alert-dismissible" ng-show="showMessagem">
    <strong>Ops!</strong>  {{error}}
  </div>
</form>